@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

:root {
    /* Primary Colors */
    --color-primary-very-light: hsl(260, 100%, 95%);
    --color-primary-light: hsl(264, 82%, 80%);
    --color-primary: hsl(263, 55%, 52%);

    /* Neutral Colors */
    --color-white: hsl(0, 0%, 100%);
    --color-grey-lightest: hsl(214, 17%, 92%);
    --color-grey-light: hsl(0, 0%, 81%);
    --color-grey-medium: hsl(224, 10%, 45%);
    --color-grey-dark: hsl(217, 19%, 35%);
    --color-blue-dark: hsl(219, 29%, 14%);
    --color-black: hsl(0, 0%, 7%);
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    max-width: 1250px;
}

.testimonial-card {
    width: 100%;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 15px 15px 20px rgba(122, 122, 122, 0.563);
}

.profile {
    display: flex;
}

.testimonial-card img {
    width: 45px;
    border-radius: 50%;
}

.profile-id {
    line-height: 1.5;
    margin-left: 15px;
}

.testimonial-name {
    font-weight: bold;
}

.testimonial-1 .testimonial-name {
    color: var(--color-primary-very-light);
}

.testimonial-1 .testimonial-status {
    color: var(--color-primary-light);
    font-size: 15px;
}

.testimonial-2 .testimonial-status {
    color: var(--color-grey-lightest);
    font-size: 15px;
}

.testimonial-3 .testimonial-status {
    color: var(--color-grey-dark);
    font-size: 15px;
}

.testimonial-4 .testimonial-status {
    color: var(--color-grey-light);
    font-size: 15px;
}

.testimonial-5 .testimonial-status {
    color: var(--color-grey-dark);
    font-size: 15px;
}

.testimonial-summary {
    line-height: 1.2;
    font-size: 1.5rem;
    margin: 15px 0 15px 0
}

.testimonial-1 .testimonial-quote {
    color: var(--color-primary-very-light);
}

.testimonial-2 .testimonial-quote {
    color: var(--color-grey-lightest);
}

.testimonial-3 .testimonial-quote {
    color: var(--color-grey-dark);
}

.testimonial-4 .testimonial-quote {
    color: var(--color-grey-lightest);
}

.testimonial-5 .testimonial-quote {
    color: var(--color-grey-dark);
}

.testimonial-1 {
    grid-column: 1 / span 2;
    grid-row: 1;
    color: var(--color-white);
    background-color: var(--color-primary);
}

.testimonial-1 img {
    border: 2px solid var(--color-primary-light);
}

.testimonial-2 {
    grid-column: 3 / span 1;
    grid-row: 1;
    color: var(--color-white);
    background-color: var(--color-grey-dark);
}

.testimonial-2 img {
    border: 2px solid var(--color-grey-light);
}

.testimonial-3 {
    color: var(--color-grey-dark);
    grid-column: 1 / span 1;
    grid-row: 2;
}

.testimonial-3 img {
    border: 2px solid var(--color-grey-lightest);
}

.testimonial-4 {
    grid-column: 2 / span 2;
    grid-row: 2;
    color: var(--color-white);
    background-color: var(--color-blue-dark);
}

.testimonial-4 img {
    border: 2px solid var(--color-primary);
}

.testimonial-5 {
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
    grid-column: 4 / span 1;
    grid-row: 1 / span 2;
}

.testimonial-5 img {
    border: 2px solid var(--color-grey-light);
}

.attribution {
    position: absolute;
    bottom: 0;
    font-size: 11px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 1024px) {
    main {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "t1 t1 t2"
            "t3 t4 t4"
            "t5 t5 t5";
    }

    .testimonial-1 {
        grid-area: t1;
    }

    .testimonial-2 {
        grid-area: t2;
    }

    .testimonial-3 {
        grid-area: t3;
    }

    .testimonial-4 {
        grid-area: t4;
    }

    .testimonial-5 {
        grid-area: t5;
    }
}

@media (max-width: 768px) {
    main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "t1 t1"
            "t2 t5"
            "t3 t4";
    }
}

@media (max-width: 600px) {
    main {
        grid-template-columns: 1fr;
        grid-template-areas:
            "t1"
            "t2"
            "t3"
            "t4"
            "t5";
    }
}